@media (max-width: 818px) {
  .header {
    font-size: 26px;
  }

  .page {
    padding-left: 16px;
    padding-right: 16px;
  }
  .start__page {
    background-color: #4a4a46;
    flex-direction: column;
    background-size: 100% 220px;
  }

  .start-page__content {
    border: none;
  }

  .start-page__layer {
    height: 220px;
    position: static;
    display: block;
    background: url('https://cdn.media.marquiz.ru/v1/image/upload/fcG86GbDSCkdgA86AzBLpT.jpeg?format=webp&func=auto&fit=cover&width=1600&dpr=1') no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  .start-page__bg {
    max-width: 100%;
    flex-direction: column;
  }

  .logo__block {
    position: static;
    margin-left: -16px;
    margin-right: -16px;
    min-height: 57px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  .logo__text {
    font-size: 24px;
  }

  .start-page__logo {
    width: 80px;
    height: 80px;
  }

  .start-page__text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }

  .queastions__first, .page__navbar, .questions__block, .questions__wrapper {
    margin-left: 0;
  }

  .control-label {
    font-size: 16px;
  }

  .questions__header {
    font-size: 22px;
    font-weight: 500;
  }

  .page__navbar {
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
    margin: 0 -16px;
  }

  .navbar__progress {
    flex-direction: column-reverse;
  }

  .navbar__buttons {
    align-self: flex-end;
  }

  .linear__label {
    display: none;
  }

  .linear__field {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .logo__text {
    font-size: 22px;
  }

  .start-page__logo {
    width: 40px;
    height: 40px;
  }

  .start-page__content {
    margin: 0 -16px;
    padding-top: 24px;
  }

  .start-page__button {
    width: 100%;
  }

  .questions__wrapper {
    grid-template-columns: 1fr;
  }

  .final__page {
    padding: 0 16px;
  }

  .final__page-content, .final__page-navbar {
    max-width: 630px;
    margin-left: calc((100% - 630px) / 2);
    padding: 20px 0 0 0;
    text-align: justify;
  }

  .questions__header {
    margin: 0;
  }
  .linear__label span {
    font-size: 14px;
  }

  .final__block {
    grid-gap: 10px;
  }

  .final__page-label, .final__btn, .final__checkbox {
    max-width: 500px;
    margin-left: calc((100% - 500px) / 2);
  }
}


@media (max-width: 630px) {
  .final__page-content, .final__page-navbar {
    max-width: 360px;
    margin-left: calc((100% - 360px) / 2);
  }

  .final__page-label, .final__btn, .final__checkbox {
    max-width: 300px;
    margin-left: calc((100% - 300px) / 2);
  }

  .questions__wrapper {
    height: 400px;
    overflow-y: scroll;
  }

  .control-label {
    height: auto;
  }
}
